/* 4 - external css */
body {
    padding-bottom: 500px;
}

h3 {
    color: Blue;
    font-size: 60px;
}

/* classes */

.paragraph {
    background-color: #000;
    color: white;
    padding: 5px;
    font-size: 30px;
}

/* Ids */
#exclusive-title {
    background-color: red;
    color: black;
    padding: 6px;
    font-size: 30px
}

/* Ordem das regras */

h2 {
    border-bottom: 2px solid red;
}

.titles {
    border-bottom: 5px solid blue;
}

#title1 {
    border-bottom: 10px solid green;
}

/* Nome de cores */
.color-name {
    color: red;
}

/* Cores hex */
.hex {
    color: #55a398;
}

.hex2 {
    color: #777;
}

/* Cores rgb */
.rgb {
    color: rgb(252, 186, 3)
}

.rgb-a {
    color: rgba(252, 186, 3, .8)
}

/* Cor com hsl */
.hsl {
    color: hsl(100, 20%, 50%);
}

/* Background color */
.back {
    background-color: #55a398;
    color: black;
    font-size: 40px
}

/* Background opacity */
.back2 {
    background-color: green;
    opacity: .2;
    font-size: 40px
}

.back3 {
    background-color: rgb(132, 0, 255);
    color: black;
    font-size: 40px;
    opacity: .8
}

.back4 {
    background-color: rgba(255, 89, 72, 0.1);
    color: black;
    font-size: 40px;
}

/* BG image */
.back5 {
    background-image: url(../images/imagem.jpg);
    font-size: 80px;
    color: white;
}

/* Centralizando BG image */
.not-center,
.center {
    height: 400px;
    width: 400px;
    background-image: url(../images/imagem.jpg);
    color: white;
}

.center {
    background-position: center;
    background-size: cover;
}

/* Largura e altura */
.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width2 {
    height: 300px;
    background-color: black;
}

/* Padding */
.without-padding,
.with-padding {
    background-color: #1100ff;
    color: white;
}

.with-padding {
    padding: 20px;
}

.padding-individual {
    background-color: red;
    color: #000;
    padding-left: 60px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 30px;
}

/* shorthand padding */
.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px
}

.shorthand-padding2 {
    background-color: #444;
    padding: 10px 20px;
}

/* padding com width */
.without-border-box {
    background-color: #444;
    color: #FFF;
    width: 400px;
    padding: 50px;
}

.with-border-box {
    background-color: #444;
    color: #FFF;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border {
    border: 5px solid red;
    padding: 10px;
}

.border2 {
    border: 2px dotted #55a398;
    padding: 25px;
}

/* Borda individual */
.border-left {
    border-left: 3px solid red;
    background-color: #222;
    padding: 10px;
    color: white;
}

.border-bottom {
    border-bottom: 3px double purple;
    background-color: #222;
    padding: 10px;
    color: white;
}

/* Border radius */
.rounded-p {
    border: 4px solid blue;
    padding: 10px;
    color: white;
    background-color: #222;
    border-radius: 15px;
}

.rounded-p2 {
    padding: 10px;
    color: white;
    background-color: #222;
    border-radius: 25px;
}

/* margin */
.margin {
    margin: 10px;
    background-color: #222;
}

.margin-top {
    padding: 10px;
    margin-top: 50px;
    background-color: #222;
}

.margin-shorthand {
    background-color: #222;
    margin: 5px 10px 15px 20px;
}
/* Box model */
.box-model{
    margin: 20px;
    padding: 10px 25px;
    border: 3px solid red;
    border-radius: 7px;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
}
/* text align */
.text-align{
    background-color: red;
    color: white;
    text-align: right;
}
.container-center{
    text-align: center;
    width: 300px;
    border:1px solid red;
}
.underline{
    color: #000;
    text-decoration: underline;
}
.line-trough{
    color:#000;
    text-decoration: line-through;
}
.remove-under{
    text-decoration: none;
}
/* Text transform */
.upper{
    text-transform: uppercase;
}
.lower{
    text-transform: lowercase;
}
/* letter spacing */
.spacing{
    letter-spacing: 5px;
}
/* Fontes */
.serif{
    font-family:Georgia;
}
.sans-serif{
    font-family: helvetica;
}
.monospace{
    font-family: "courier new";
}
.cursive{
    font-family: cursive;
}
.fantasy{
    font-family: fantasy;
}